@import '.../theme/theme.scss';
.digcontainer{
    position:absolute;
    width: 103px;
    height: 14.94px;
    left:16px;
    top: 50px;
  
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
    gap:216px;
  
    position: absolute;
    width: 320px;
    height: 72px;
    left: 176px;
    top:327px;
    background-color: $episodeBackgroundColor;
}
.star1{
    position: absolute;
    left: 255px;
    bottom: 50px;
}
.rectangle{
    position: absolute;
    left: 310px;
    bottom: 65px;
}
.elips{
    position: absolute;
    left:305px;
    top:57px;
}
@media (max-width : 320px){
    .rectangle{
      display: none;
    }
    .elips{
      display: none;
    }
    .star1{
      left:305px;
    }
}