@import '.../theme/theme.scss';
.container{
    width: 1232px;
    background-color: $episodeBackgroundColor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 144px;
    height: 88px;
    position: absolute;
    left:0px;
    top:0px;
}

  
.input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    width: 800px;
    height: 56px;
    background-color: $episodeBackgroundColor;
    border-radius: 8px;
    font-size: 30px;
    margin-right: 200px;
}
.searchicon{
    position: absolute;
    left: 360px;
}
.search{
    position: absolute;
    left: 400px;
}
.star{
    position: absolute;
    left: 1346px;
    bottom:60px;
}
.favori{
    position: absolute;
    left: 1328px;
    top: 75px;
}