$color : #F5F5F5;
$font : 'Inter';
$pos : absolute;
.container{
    width: 1440px;
    background-color: $color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 144px;
    height: 88px;
    position: absolute;
    left:65px;
    top:169px;
  }
  .input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    width: 700px;
    height: 56px;
    background-color: $color;
    border-radius: 8px;
    margin-right: 380px;
    font-size: 30px;
  }
  .searchicon{
    position: $pos;
    left: 490px;
  }
  .search{
    position: $pos;
    left: 530px;
  }
  .star{
    position: $pos;
    left: 1346px;
    bottom:60px;
  }
  .favori{
    position: $pos;
    left: 1328px;
    top: 75px;
  }